.navbar{
    height: 60px;
    width: 100vw;

    position: fixed;
    bottom: 0;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: rgb(240, 240, 240);
}