.post{
    width: 440px;
    height: auto;

    margin-bottom: 25px;

    border: 1px solid rgb(240, 240, 240);
    border-radius: 10px;
}

.userInfo{
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user{
    width: auto;
    height: 100%;

    display: flex;
    align-items: center;
}
.userPhoto{
    width: 30px;
    height: 30px;

    margin-left: 20px;

    border-radius: 100px;
    border: 0.5px solid rgb(0, 0, 0);
}
.username{
    margin-left: 10px;
}

.options{
    width: auto;
    height: 100%;

    display: flex;
    align-items: center;
}

.optionsButton{
    width: 24px;
    height: 16px;

    background: none;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 20px;
    padding: 0px;
    box-sizing: border-box;
}

.optionsIcon{
    width: 16px;
    height: 16px;
}


.postValue{
    width: 100%;
    min-height: 40px;

    padding: 10px 20px;
    box-sizing: border-box;

    line-height: 30px;
}

.postDate{
    height: 45px;

    display: flex;
    align-items: center;

    padding-left: 20px;

    font-size: 16px;
    color: rgb(160, 160, 160);
}