.form{
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.textarea{
    width: 440px;
    height: 260px;

    outline: none;
    resize: none;

    font-family: sans-serif;
	font-weight: 100;
    font-size: 16px;
    line-height: 30px;
    
    padding: 15px 20px;
    box-sizing: border-box;

    border: 1px solid rgb(240, 240, 240);
    border-radius: 10px;
}

.counter{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.5);

    font-size: 14px;
}
.counterError{
    margin-top: 15px;
    color: rgb(200, 0, 0);
}

.submitButton{
    width: 200px;
    height: 40px;

    margin-top: 30px;

    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;

    color:  rgb(0, 0, 0);
    font-family: sans-serif;
	font-weight: 100;
    font-size: 16px;

    transition: all 0.2s ease-in;
}

.submitButton:hover{
    background-color: rgb(240, 240, 240);
}


@media (max-width: 650px){
    .form{
        width: 400px;
    }
    .textarea{
        width: 400px;
    }
}

@media (max-width: 450px) {
    .form{
        width: 350px;
    }
    .textarea{
        width: 350px;
    }
}