.page{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userData{
    width: 440px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.userPicture{
    width: 30px;
    height: 30px;

    border-radius: 100px;
    border: 0.5px solid rgb(0, 0, 0);
}

.username{
    margin-left: 10px;
}